@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply select-none overflow-x-hidden bg-[#FFFAF6];
}

::-webkit-scrollbar {
  @apply hidden;
}

.glass {
  background: rgba(17, 32, 102, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-link,
.nav-icon,
li {
  @apply cursor-pointer duration-300;
}
.nav-icon:hover,
.nav-link:hover {
  @apply translate-x-2 md:translate-y-2 md:translate-x-0;
}

li:hover {
  @apply translate-x-2;
}
.white {
  @apply text-[#F7E8DF];
}

p {
  @apply text-[#646262] font-medium;
}
.button {
  display: inline-block;
  padding: 0.5em;
  padding-inline: 0.5em;
  padding-right: 1em;
  font-size: 1.5em;
  width: 10em;
  /* height: 10em; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1;
}

.button::before {
  content: "";
  display: block;
  background: #e55e11;
  width: 10em;
  height: 10em;
  transform: rotate(45deg);
  position: absolute;
  top: -5.2em;
  right: 1em;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.button:hover::before {
  top: -3.8em;
  right: 0em;
}

@media screen and (max-width: 60em) {
  .button {
    font-size: 1.1em;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-[#E55E11] w-3 h-3;
}
